<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
	
	<link rel='stylesheet' href='https://bigbangburger.com/css/fonts.css'>
	<link rel="stylesheet" href="/css/contact.css">


	<title>Contact</title>
</head>

<body>

	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mr-5" href="#">IQ International</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <% if(currentUser) {%>
                        <a class="nav-link" href="/office">Office</a>
						<% } %>
							<a class="nav-link" href="/about">About</a>
                            <a class="nav-link" href="/roster">Roster</a>
                            <a class="nav-link" href="/calender">Calender</a>
                            <a class="nav-link" href="/gallery">Gallery</a>

                            <!-- <a class="nav-link" href="/students">Students</a>
                    <a class="nav-link" href="/students/new">New Student</a>
                    <a class="nav-link" href="/students/assesments">View Marks</a> -->
                </div>
                <div class="navbar-nav ml-auto">
                    <% if(!currentUser) {%>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else {%>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>
	<!-- header -->

	<div class="flexbox-container">
		<div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
			<div class="container clearfix">
				<div class="content grid_2 contactype active" id="contact-mapClick">
					<div class="icon-map"></div>
					<p>Map</p>
				</div>
				<div class="content grid_2 contactype" id="contact-carClick">
					<div class="icon-car"></div>
					<p>Car</p>
				</div>
				<div class="content grid_2 contactype" id="contact-busClick">
					<div class="icon-bus"></div>
					<p>Bike</p>
				</div>
				<div class="content grid_2 contactype" id="contact-phoneClick">
					<div class="icon-phone"></div>
					<p>Telephone</p>
				</div>
				<div class="content grid_2 contactype omega" id="contact-mailClick">
					<div class="icon-mail"></div>
					<p>E-Mail</p>
				</div>

				<div class="content grid_12 contactmap" id="contact-map">
					<div class="grid_4">
						<h2>CONTACT</h2>
						<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis
							interdum.</p>
						<p class="information"><span class="icon-phone-2"> TELEPHONE: </span> 0 (123) 456 789</p>
						<a class="btn" href="https://goo.gl/maps/8GlbZ" target="_blank">Get Direction</a>
						<div class="clear"></div>
					</div>
					<div class="grid_8 omega">
						<div id="map_canvas"></div>
					</div>
				</div>

				<div class="content grid_12 contactmap dn" id="contact-car">
					<div class="grid_4">
						<h2>CAR</h2>
						<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis
							interdum.</p>
						<br><br>
						<div class="btn"><span class="icon-checkmark"></span> Car Park</div>
					</div>
					<div class="grid_8 omega">
						<div class="grid_6 omega"><strong>Lorem ipsum</strong> Nulla vitae elit libero, a pharetra
							augue.
							Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.
							Nullam
							quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
							parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor
							mauris condimentum nibh, ut fermentum massa justo sit amet risus.


							<a class="btn" href="https://goo.gl/maps/8GlbZ" target="_blank">Get Direction</a>

						</div>
					</div>
				</div>

				<div class="content grid_12 contactmap dn" id="contact-bus">
					<div class="grid_4">
						<h2>BUS</h2>
						<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis
							interdum.</p>
						<br><br>
						<div class="btn"><span class="icon-checkmark"></span> OTOPARK MEVCUT</div>
					</div>
					<div class="grid_8 omega">
						<div class="grid_6 omega" id="scroll2">
							Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.
							Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet,
							consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
							condimentum
							nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit
							sit
							amet non magna.

							Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh
							ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
							venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
							ridiculus mus. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna
							mollis
							euismod. Sed posuere consectetur est at lobortis.

							Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper
							nulla
							non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris
							condimentum
							nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo,
							tortor
							mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget
							risus
							varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Sed posuere
							consectetur
							est at lobortis.
						</div>
					</div>
				</div>

				<div class="content grid_12 contactmap dn" id="contact-bike">
					<div class="grid_4">
						<h2>BIKE</h2>
						<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis
							interdum.</p>
						<br><br>
						<div class="btn"><span class="icon-checkmark"></span> BİSİKLETLİK MEVCUT</div>
					</div>
					<div class="grid_8 omega">
						<div class="grid_6 omega">
							<span class="icon-calendar"> Maecenas faucibus mollis interdum.
						</div>
					</div>
				</div>


				<div class="content grid_12 contactmap dn" id="contact-phone">
					<div class="grid_4">
						<h2>TELEPHONE</h2>
						<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis
							interdum.</p>
					</div>
					<div class="grid_8 omega">
						<div class="grid_6 omega">0 (123) 456 789</div>
					</div>
				</div>


				<div class="content grid_12 contactmap dn" id="contact-mail">
					<div class="grid_4">
						<h2>E-MAIL</h2>
						<p class="information"><span class="icon-location"> ADRESS: </span>Maecenas faucibus mollis
							interdum.</p>
					</div>
					<div class="grid_8 omega">
						<div class="grid_6 omega"><a href="mailto:mail@loremipsum.com?Subject=Hello"
								class="btn">mail@loremipsum.com</a></div>
					</div>
				</div>

				<div class="clear"></div>
				<div class="container-form">
					<h3 id="header2">Questions and Information</h3>
					<p>
						<input class="input-placeh" name="name" type="text" placeholder="Firstname" required>
					</p>
					<p>
						<input class="input-placeh" name="surname" type="text" placeholder="Lastname" required>
					</p>
					<p>
						<input class="input-placeh" type="text" placeholder="Email" required>
					</p>
					<p>
						<input class="input-placeh" type="text" placeholder="Topic/Info/Complaint" required>
					</p>
					<p>
						<textarea type="text" id="message-box" name="message" rows="4" cols="50">Write your questions or messages in here.</textarea>
					</p>
				</div>
			</div>
			<footer class="content grid_12">
				<div class="btn2">&copy; Copyright</div>
				<hr />
			</footer>
			<div class="clear"></div>
		</div>

	</div>

	<!-- partial:index.partial.html -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
	<!-- partial -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="/js/contact.js"></script>
	<script>
		$(function () {
			$(document).scroll(function () {
				var $nav = $("#mainNavbar");
				$nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
			})
		})
	</script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
	integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
	crossorigin="anonymous"></script>
</body>

</html>