<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <link rel="stylesheet" href="/css/home.css"> 

    <title>IQ</title>

</head>
<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <div class="float-left mb-0 ml-4 navHead">
                    <h1 class=""><b><i>IQ </i> </b><span class="navHead2"><b><i>International</i> </b></span></h1>
                </div>
                <nav class="nav float-right nav-masthead justify-content-center ">
                    <a class="nav-link active" aria-current="page" href="/about">About</a>
                    <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Office</a>
                    <% } else { %>
                        <a class="nav-link" href="/students">Students</a>
                    <% } %>
                    <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                        <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>

        <main class="">
            <h1 class="shrink text-center"><b>Welcome!</b></h1>
            
             <p class="lead mb-3"><medium>Jump right in and explore our School.</medium><br>
                

                <% if(!currentUser) { %>
                    <a href="/register" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Sign Up</a>
                    <a href="/about" class="btn btn-lg btn-secondary border-white bg-white"><b><i>View School</i></b></a>
                <% } else { %>
                    <a href="/office" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Continue</a>
                <% } %>
        </main>

        <footer class="mt-auto text-white-50">
            <p class="foot">&copy; Since 2020 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
</body>

</html>

