body{
    height:2000px;
    position:relative;
}

#add{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.btn{
    border:none;
}
#studentData{
    display:none;
}
#marksContainer{
    display:none;
}
#assesmentsContainer{
    display:none;
}
#eventsContainer{
    display:none;
}
#rosterContainer{
    display:none;
}
table{
    width:100%;
    table-layout: auto;
}
.mystyle {
    border:1px solid black;
  }
#gr1{
    width:100%;
    display:none;
 }
#gr2{
    width:100%;
    display:none;
}
#gr3{
    width:100%;
    display:none;
}
#gr4{
    width:100%;
    display:none;
}
#gr5{
    width:100%;
    display:none;
}
#gr6{
    width:100%;
    display:none;
}
#gr7{
    width:100%;
    display:none;
}
#gr8{
    width:100%;
    display:none;
}
#gr9{
    width:100%;
    display:none;
}
#gr10{
    width:100%;
    display:none;
}
#gr11{
    width:100%;
    display:none;
}
#gr12{
    display:none;
    min-width:100%;
}

.mystyle {
    border:4px solid black;
  }

/* TO SHOW AND HIDE MARKS DROPWDOWN */
/* .english{
    display:none;
}
.math{
    display:none;
}
.science{
    display:none;
}
.social{
    display:none;
} */

@media screen and (min-width: 601px) {
    button {
      font-size: 30px;
      width:auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .btn{
      font-size: 7px;
      font-weight: 600;
      border: 10px;
    }
}


@media screen and (min-width: 601px) {
    table {
        font-size: medium;
    }
    main{
        margin-top:30px;
    }
  }
  
  @media screen and (max-width: 600px) {
    table{
        table-layout: auto;
        font-size: x-small;
        font-weight: 400;
    }
    .box{
        font-size: x-small;
        font-weight: 400;
        max-width:65px;
        padding:0px;
    }
    h1{
        font-size: x-large;
    }
    main{
        margin-top:10px;
    }
}

@media screen and (min-width: 601px) {
    p.foot {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    p.foot {
      font-size: 15px;
      margin-bottom:0px;
    }
}