

/* #english{
    display:none;
}
#math{
    display:none;
}
#science{
    display:none;
}
#social{
    display:none;
} */
#studentData{
    display:none;
}
#marksContainer{
    display:none;
}
#eventsContainer{
    display:none;
}
#rosterContainer{
    display:none;
}